<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>762943660479-70042onpnc7ura5erpd52q85t1d19r25.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.762943660479-70042onpnc7ura5erpd52q85t1d19r25</string>
	<key>API_KEY</key>
	<string>AIzaSyCvHLj1mDfa67c6bhAAOELT7v2AChq30pY</string>
	<key>GCM_SENDER_ID</key>
	<string>762943660479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pe.com.intercorp.examenIntercorp</string>
	<key>PROJECT_ID</key>
	<string>examenintercorp</string>
	<key>STORAGE_BUCKET</key>
	<string>examenintercorp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:762943660479:ios:70c9e6a2176c12a5</string>
	<key>DATABASE_URL</key>
	<string>https://examenintercorp.firebaseio.com</string>
</dict>
</plist>